name: github-pages

on: push

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          cache: pnpm

      - name: GitHub Pages action
        run: |
          curl -L https://pnpm.js.org/pnpm.js | node - add --global pnpm@dev npm
      - name: pnpm install
        run: pnpm install && npm run build

      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/web/dist
          cname: wgis.brandonxiang.top